* {
    padding: 0;
    margin: 0;
  }

  body {
    background:  url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;
    font-family: sans-serif;
  }
.drumkit_container {
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.drum_piece {
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid black;
  width: 10rem;
  margin: 10px;
  text-align: center;
  transition: all .08s ease;
  color: gold;
}
h1 {
  color: white;
  font-family: serif;
}
.drum_piece:hover {
  cursor: pointer;
}
@keyframes anim {
  0% {
    box-shadow: none;
    transform: none;
  }
  50% {
    box-shadow: 0 0 1rem gold;
    transform: scale(1);
  }
  100% {
    box-shadow: none;
    transform: none;
  }

}
.play {
  animation-name: anim;
  animation-duration: 2s;
}